.main .first-section
  left: 0
  width: 100%
  
.basket__header
  font-size: 3.4rem
  color: #383838
  margin-top: 15px

.total-wrapper
  margin-top: 40px
  display: flex
  justify-content: flex-end
  align-items: center
  padding: 25px 20px
  border: 1px solid #e2dfdf
  border-radius: 3px
  .total_block
    color: #2f3435
    .total__text
      font-size: 2.2rem
      margin-right: 20px
    .total__price
      font-size: 2.8rem
      margin-right: 15px
  .basket__btn
    font-size: 1.6rem
    padding: 10px 15px
    font-weight: 700
    border: none
    background-color: #0f346e
    color: #ffffff
    border-radius: 3px
    cursor: pointer
    transition: all ease .2s
    &:hover
      background-color: darken(#0f346e, 10%)
.goods-wrapper
  margin-top: 40px
  border: 1px solid #e2dfdf
  .header_block
    padding: 20px
    display: flex
    justify-content: flex-end
    background-color: #f2f2f2
    border: 1px solid #e2dfdf
    font-size: 1.4rem
    .good_amount
      font-weight: 700
      .favorites
        margin-left: 10px
        color: #3e86de
  .goods
    .good
      position: relative
      display: flex
      padding: 40px 0
      border-bottom: 1px solid #e2dfdf
      &__img
        margin: 15px 30px
        max-width: 10%
      &-info_block
        margin-left: 20px
        width: 60%
        display: flex
        flex-direction: column
      &__name
        font-size: 2.2rem
        color: #2f3435
        margin-bottom: 5px
      .price-type
        font-size: 1.4rem
        color: #a1a1a1
        strong
          color: #2f3435
      &__price
        font-size: 2.2rem
        margin-top: 20px
        margin-bottom: 10px
        margin-left: 30px
      &-total__price
        width: 18%
        font-size: 2.5rem
      .delete-good
        height: 30px
        font-size: 2.6rem
        margin-top: -10px
        cursor: pointer
        transition: all ease .2s
        &:hover
          color: #0f346e

.count-cell
  margin-left: 20px
  display: flex
  align-items: center
  button
    width: 45px
    height: 40px
    font-size: 1.4rem
    font-weight: 700
    background-color: #fff
    border: 1px solid #eaebec
    color: #5a5a5a
    cursor: pointer
    &:hover, &:active
      color: #000000
    &.cell-minus
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px
    &.cell-plus
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
  span
      width: 45px
      height: 40px
      display: flex
      justify-content: center
      align-items: center
      border:
        top: 1px solid #eaebec
        bottom: 1px solid #eaebec
      font-size: 1.3rem
      background-color: #f7f7f7
  &.active
    display: none

@media screen and ( max-width: 768px )
  .good-info_block
    width: 55% !important
  .good-total__price
    width: 16% !important
@media screen and ( max-width: 640px )
  .good
    line-height: 1.5
    flex-direction: column
    align-items: center
  .goods-wrapper
    padding-bottom: 20px
  .good-info_block
    margin: 0 !important
    width: 80% !important
    align-items: center
  .good__img
    max-width: 40% !important
  .good__price
    margin: 20px 0 !important
  .good-total__price
    width: 50% !important
    text-align: center
    margin: 15px 0
  .delete-good
    font-size: 3rem !important
    position: absolute
    top: 30px
    right: 30px
  .good__name
    margin: 20px 0 !important
    text-align: center
  .count-cell
    margin: 0 !important
  .total_block
    display: flex
    flex-direction: column
  .total-wrapper
    justify-content: space-between
  .total__price
    margin-right: 0 !important
    margin-left: 10px
@media screen and ( max-width: 576px )
  .total-wrapper
    flex-direction: column
    width: 80%
    margin: 20px auto
  .total_block
    width: 100%
    flex-direction: row
    align-items: center
    margin-bottom: 30px
    line-height: 1.5
  .basket__btn
    font-size: 2rem !important
    padding: 12px 40px !important
@media screen and ( max-width: 401px )
  .total_block
    flex-direction: column
  .basket__btn
    font-size: 1.8rem !important
    padding: 15px 25px !important