//base
*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background-color: #eeeeee
html
  font-size: 10px
  font-family: 'Ubuntu', sans-serif

ul, li
  list-style: none
  padding: 0
  margin: 0

a, a:hover, a:active, a:focus
  text-decoration: none
  color: #000000

//container width
.container, .site-name
  max-width: 1201px
  margin: 0 auto
  padding: 0 20px
  background-color: #fff
.site-name
  padding: 5px 0
  display: flex
  justify-content: center
  text-transform: uppercase
  font-size: 1.3rem
  letter-spacing: 2px
  color: #ffffff
  background-color: #0f346e

//header section
.header
  position: relative
  width: 100%
  height: 130px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background-color: #fff
  z-index: 4
  &-logo
    width: 200px
    height: 55px
    cursor: pointer
    &__img
      width: 100%
      height: 100%
  &-info
    width: 250px
    margin-top: 10px
    display: flex
    flex-direction: column
    text-align: center
    a
      font-size: 1.5rem
      line-height: 1.5
      font-weight: 700
      color: darken(#135399, 5%)
      transition: all ease .1s
      &:hover
        color: darken(#135399, 20%)
  &-form
    width: 35%
    height: 90px
    display: flex
    justify-content: center
    align-items: center
    &__search
      width: 95%
      padding: 10px 30px 10px 15px
      border-radius: 2px
      border: none
      background: #e5e5e5 url('../img/header/search.svg')
      background-repeat: no-repeat
      background-size: 15px 15px
      background-position: 95% center
.call
  width: 200px
  height: 100px
  margin-top: 15px
  display: flex
  align-items: center
  justify-content: flex-end
  &__icon
    width: 30px
    height: 30px
    margin-right: 10px
    background: url('../img/header/mobile-phone.svg') center no-repeat
    background-size: cover
    margin-top: -20px
  &_numbers
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
  &__number
    font-size: 1.6rem
    letter-spacing: 1px
    font-weight: 700
  &__btn
    font-size: 1.1rem
    margin-top: 5px
    text-transform: uppercase
    color: #113D80
    cursor: pointer
    &:hover
      color: darken(#113D80, 15%)

.toggles
  position: relative
  top: 45px
  z-index: 3
  .menu-toggle
    position: absolute
    top: 100%
    display: flex
    flex-direction: column
    width: calc(100%/4 - 5%)
    transform: translateY(-120%)
    border-radius: 2px
    transition: all ease .3s
    z-index: 3
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
    &__item
      width: 100%
      font-size: 1.3rem
      font-weight: 700
      color: #555555
      padding: 17px
      background-color: #F9F9F9
      border-top: 1px solid #e5e5e5
      transition: all ease .2s
      &:hover
        background-color: #134188
        color: #ffffff

// menu
.menu
  position: relative
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #fff
  z-index: 4
  border:
    top: 1px solid #e5e5e5
    bottom: 1px solid #e5e5e5
  .menu-item
    width: calc(100%/4 - 5%)
    padding: 15px 0
    text-align: center
    height: 100%
    font-size: 1.4rem
    text-transform: uppercase
    font-weight: 700
    transition: all ease .1s
    &:hover, &:active, &:focus
      color: darken(#135399, 5%)
  &-catalog
    position: relative
    width: 220px
    display: flex
    align-items: center
    &__icon
      display: flex
      flex-direction: column
      justify-content: space-around
      width: 15px
      height: 15px
      span
        width: 15px
        height: 2px
        background-color: #000000
    &__text
      margin-left: 15px
    &__arrow
      position: absolute
      right: 0
      width: 10px
      height: 10px
      background: url('../img/menu/arrow.svg') center no-repeat
      background-size: cover
  &-payment_toggle
    right: calc(100%/4 + 1.6%)
  &-service_toggle
    left: calc(100%/4 + 1.6%)

.menu-wrapper
  position: relative
  top: 35px
  .mobile-menu_wrapper
    position: absolute
    width: 100%
    top: 100%
    transform: translateY(-100%)
    left: 0
    display: none
    flex-direction: column
    background-color: #F9F9F9
    border-radius: 2px
    transition: all ease .3s
    z-index: 3
    .mobile-menu__item
      font-size: 1.5rem
      padding: 15px 20px
      border-top: 1px solid #e5e5e5
      transition: all ease .2s
      &:active, &:focus
        background-color: #366098
        color: #ffffff
    .mobile-menu_toggle
      position: absolute
      width: 100%
      display: none
      flex-direction: column
      top: 0
      left: 0
      padding-left: 30px
      &__item
        padding: 15px 0
        font-size: 1.4rem
        border-top: 1px solid #e5e5e5
        &:active, &:focus
          background-color: #366098
          color: #ffffff
    .mobile-menu__catalog_toggle
      top: 48px
    .mobile-menu__service_toggle
      top: 98px
    .mobile-menu__payment_toggle
      top: 146px
.mobile-menu
  display: none
  position: relative
  align-items: center
  width: 100%
  height: 40px
  background-color: #135399
  z-index: 3
  &_form
    display: flex
    align-items: center
    padding: 10px 15px
    background-color: #e0e7ea
    &__search
      width: 80%
      padding: 10px
      border-radius: 1px
      border: none
    &__findBtn
      width: 20%
      padding: 8px 0
      font-size: 1.5rem
      color: #ffffff
      border: none
      background-color: #135399
  &_interface
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 15px
    &__text
      font-size: 1.6rem
      color: #ffffff
      font-weight: 700
      text-transform: uppercase
    &_toggleIcon
      width: 20px
      height: 18px
      display: flex
      flex-direction: column
      justify-content: space-around
      span
        width: 20px
        height: 3px
        background-color: #fff
// catalog section
.main
  position: relative
  width: 100%
  display: flex
  z-index: 2
  overflow: hidden
  border-bottom: 1px solid #eaebec
  .catalog
    position: absolute
    top: 0
    width: calc(100%/4 - 5%)
    display: flex
    flex-direction: column
    transition: all ease .2s
    z-index: 2
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
    &__item
      position: relative
      padding: 15px
      font-size: 1.3rem
      color: #555555
      background-color: #f9f9f9
      border: 1px solid #eaebec
      border-top: none
      &::before
        height: 0
      &:hover
        color: #0f346e
    &__item
      &-hover
        position: absolute
        display: none
        top: 0
        left: 100%
        background-color: #f9f9f9
        width: 250%
        height: 150px
        padding: 20px
        border-radius: 2px
        -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
        -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
        box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.3)
      &-list
        display: flex
        width: 50%
        &:nth-child(2)
          img
            width: 40px
            height: 40px
      &-image
        width: 35px
        height: 50px
      &-info
        width: calc( 100% - 35px )
        margin-top: 10px
        margin-left: 30px
        a:hover
          color: darken(#0f346e, 20%)
        &__header
          font-size: 1.4rem
          color: #0f346e
        &__link
          text-transform: uppercase
          font-size: 1.3rem
        ul
          width: 90%
          margin-top: 15px
          margin-left: -5px
          display: flex
          flex-wrap: wrap
          li
            margin-bottom: 5px
            margin-left: 10px
            list-style: square inside
            &:nth-child(4)
              a
                color: #0f346e
  .boilers-hover
    top: 0
  .parts-hover
    top: 45px
  .first-section
    position: relative
    left: calc( 100%/4 - 5% )
    width: calc(100% - calc(100%/4 - 5%))
    padding: 20px
    padding-right: 0
    background-color: #fff
//for hover effect
.hover.catalog__item::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 3px
  height: 100%
  background-color: #0f346e

.top_slider-wrapper
  position: relative
  width: 100%
  height: 327px
  border: 1px solid #000000
  border-bottom: 3px solid #0f346e
  border-radius: 1px
  .slides
    display: block
    width: 100%
    height: 322px
  .slider_control-nav
    position: absolute
    top: 90%
    width: 100%
    height: 12px
    display: flex
    justify-content: center
    align-items: center
    li
      width: 10px
      height: 10px
      margin: 0 2px
      border-radius: 50%
      cursor: pointer
      border: 2px solid #000000
      transition: all ease .1s
      &.active, &:hover
        background-color: #000000
  .slider_nav-btns
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 100%
    height: 45px
    padding: 0 15px
    display: none
    justify-content: space-between
    align-items: center
    li
      width: 45px
      height: 45px
      border-radius: 50%
      border: 1px solid #000000
      cursor: pointer
      transition: all ease .1s
    .slider_nav-prev
      background: #fff url('../img/slider/prev-black.svg') 6px no-repeat
      background-size: 25px 25px
      &:hover
        background: #0f346e url('../img/slider/prev-white.svg') 6px no-repeat
        background-size: 25px 25px
    .slider_nav-next
      background: #fff url('../img/slider/next-black.svg') 10px no-repeat
      background-size: 25px 25px
      &:hover
        background: #0f346e url('../img/slider/next-white.svg') 10px no-repeat
        background-size: 25px 25px

.tizers-block
  margin-top: 15px
  width: 100%
  padding: 0 10px
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  .tizer
    width: calc(100%/4 - 4%)
    height: 70px
    display: flex
    align-items: center
    img
      width: 25%
      margin-right: 15px
    span
      font-size: 1.4rem
      color: #555555
.types-block
  margin-top: 10px
  width: 100%
  display: flex
  .good-type
    position: relative
    width: 50%
    height: 300px
    margin: 0 2px
    background: url('../img/slider/1.png') center no-repeat
    background-size: 100%
    cursor: pointer
    overflow: hidden
    transition: background-size .1s linear
    border-radius: 2px
    .bg--black
      display: none
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 300px
      background-color: rgba(0, 0, 0, .5)
      transition: all .1s linear
    .bg--black.visuallyHidden
      opacity: 0
    &__name
      position: absolute
      top: 80%
      left: 20px
      font-size: 2rem
      padding: 3px 5px
      background-color: #0f346e
      color: #ffffff
      transition: all ease .2s
    &__desc
      display: none
      position: absolute
      top: 85%
      left: 20px
      font-size: 1.4rem
      color: #ffffff

.popular-block
  margin-top: 30px
  width: 100%
  &__text
    font-size: 1.8rem
    font-weight: 700
    margin-left: 20px
    padding-bottom: 5px
    border-bottom: 2px solid #0f346e
    &:hover
      color: #0f346e
  .popular-goods
    width: 100%
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    .good
      position: relative
      display: flex
      flex-direction: column
      align-items: center
      width: calc(100%/4 - 1.2%)
      height: 100%
      padding: 20px
      margin: 5px
      cursor: pointer
      border: 1px solid #eaebec
      transition: all ease .2s
      &:hover
        -webkit-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.58)
        -moz-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.58)
        box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.58)
        .good__toF, .good__toF-icon
          display: block
      &__img
        width: 75%
        height: 170px
        background: url('../img/popular/boiler.png') center no-repeat
        background-size: contain
      &__name
        margin-top: 15px
        height: 60px
        font-size: 1.8rem
        text-align: center
        color: #0f346e
        &:hover
          color: darken(#0f346e, 15%)
      &-rating
        margin-top: 5px
        width: 100%
        height: 20px
        display: flex
        justify-content: center
        align-items: center
        &__item
          width: 15px
          height: 15px
          margin: 0 2px
          background: url('../img/popular/star-grey.svg') center no-repeat
          background-size: contain
          &:nth-child(1), &:nth-child(2), &:nth-child(3)
            background-image: url('../img/popular/star-active.svg')
      &-status
        margin-top: 10px
        width: 100%
        display: flex
        justify-content: center
        align-items: center
          width: 15px
        &__indicator
          width: 15px
          height: 15px
          background: url('../img/popular/check-active.svg') center no-repeat
          background-size: contain
        &__text
          font-size: 1.4rem
          margin-left: 5px
          color: #888888
      &__price
        font-size: 2rem
        font-weight: 700
        margin-top: 15px
      &__more
        margin-top: 15px
        font-size: 1.6rem
        padding: 8px
        background-color: #375282
        color: #fff
        border: none
        border-radius: 2px
        transition: all ease .1s
        cursor: pointer
        &:hover
          background-color: darken(#375282, 10%)
      &__toF
        display: none
        position: absolute
        top: 5%
        right: 7%
        width: 12%
        height: 6%
        border-radius: 2px
        transition: all ease .1s
        &:hover
          background-color: #0f346e
          .good__toF-icon
            background-image: url('../img/popular/favorite-active.svg')
        &-icon
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          display: none
          width: 70%
          height: 70%
          background: url('../img/popular/favorite.svg') center no-repeat
          background-size: contain

.footer
  margin-top: 20px
  display: flex
  justify-content: space-between
  padding: 20px
  border-bottom: 1px solid #eaebec
  &-map
    width: 40%
    height: 250px
    border: 1px solid #eaebec
    font-size: 2rem
    display: flex
    justify-content: center
    align-items: center
  &-info
    text-align: center
    &__text
      font-size: 1.6rem
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 1px
    &_list
      margin-top: 10px
      display: flex
      flex-direction: column
    &__item
      line-height: 2.8rem
    &__link
      font-size: 1.6rem
      color: #666666
      &:hover
        color: #0f346e
  &-address
    width: 25%
    display: flex
    flex-direction: column
    align-items: center
    .call
      width: 100%
      height: auto
      margin: 0
    .social-media
      width: 100%
      margin-top: 40px
      &__text
        font-size: 1.6rem
        color: #666666
      &_list
        margin-top: 10px
        display: flex
        flex-wrap: wrap
        justify-content: center
      &__item
        width: 35px
        height: 35px
        margin: 5px
        &:nth-child(1)
          a
            background: url('../img/smi/facebook.svg') center no-repeat
            background-size: contain
        &:nth-child(2)
          a
            background: url('../img/smi/instagram.svg') center no-repeat
            background-size: contain
        &:nth-child(3)
          a
            background: url('../img/smi/whatsapp.svg') center no-repeat
            background-size: contain
        &:nth-child(4)
          a
            background: url('../img/smi/google-plus.svg') center no-repeat
            background-size: contain
      &__link
        display: block
        width: 100%
        height: 33px

@media screen and ( max-width: 1132px )
  .first-section
    .popular-block
      .good
        width: calc(100%/3 - 1.5%)

//adaptive
@media screen and ( max-width: 993px)
  .container
    padding: 0 25px
  .header
    height: 120px
    &-logo
      width: 190px
      height: 50px
    &-info
      display: none
    &-form
      width: 55%
      &__search
        width: 90%
        padding:
          top: 15px
          bottom: 15px
  .first-section
    .tizers-block
      .tizer
        width: calc( 100%/2)
        img
          width: 12%

@media screen and ( max-width: 951px )
  html
    font-size: 9px
  .main
    .catalog
      transform: translateY(-220px)
      &__item-hover
        width: 350%
      .main
        .catalog
          width: calc(100%/4)
      .menu
        &-item
          width: calc(100%/4)
      .toggles
        .menu-toggle
          width: calc(100%/4)
        .menu-service_toggle
          left: calc(100%/4)
        .menu-payment_toggle
          right: calc(100%/4)
    .first-section
      left: 0
      width: 100%
      padding: 20px 0
@media screen and ( max-width: 769px )
  .mobile-menu
    display: flex
  .menu
    display: none
  .toggles
    display: none
  .header
    justify-content: center
    height: 110px
    &-logo
      width: 200px
      height: 55px
  .header-form
    display: none
  .menu-wrapper
    .mobile-menu_wrapper
      display: flex
  .first-section
    .slider_nav-btns
      display: none
    .tizers-block
      .tizer
        img
          width: 15%
    .types-block
      .good-type
        height: 250px
        .bg--black
          display: block
        .bg--black.visuallyHidden
          opacity: 1.0
        &__name
          top: 72%
        &__desc
          display: block
    .popular-block
      .good
        width: calc(100%/2 - 2%)
        &__toF
          width: 12%
          height: 8%
  .footer
    margin-top: 15px
    flex-direction: column
    align-items: center
    &-map
      width: 80%
    &-info
      margin: 30px 0
    &-address
      text-align: center
      width: 80%
      .call
        width: auto

@media screen and ( max-width: 576px )
  html
    font-size: 9px
  .container
    padding: 0 5px
  .header
    justify-content: space-between
    height: 90px
    &-logo
      width: 190px
      height: 50px
    &-call
      width: 45%
      height: 80px
      margin: 0
      &__icon
        width: 25px
        height: 25px
        margin-top: -2px
        margin-left: 5px
        margin-right: 5px
      &__number
        font-size: 1.8rem
      &__btn
        display: none
  .mobile-menu_form
    &__search
      width: 70%
    &__findBtn
      width: 30%
  .first-section
    .tizers-block
      .tizer
        img
          width: 20%
    .types-block
      flex-direction: column
      .good-type
        width: 80%
        margin: 2px auto
    .popular-block
      .good
        width: 80%
        margin: 5px auto
  .footer
    &-map, &-address
      width: 100%

@media screen and ( max-width: 401px )
  .header
    &-logo
      width: 170px
      height: 45px
  .call
    width: 50%
    &__icon
      display: none
    &__number
      font-size: 1.8rem
  .first-section
    .popular-block
      .good
        width: 100%
        margin: 5px
    .tizers-block
      padding: 0
      .tizer
        flex-direction: column
        text-align: center
        width: 45%
        margin: 15px 5px
        height: 100%
        img
          margin: 0
          margin-bottom: 15px
          width: 35%
    .types-block
      .good-type
        width: 100%
        margin: 2px 0
  .footer .call__icon
    display: block !important