* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #000000;
}

.container, .site-name {
  max-width: 1201px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}

.site-name {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #0f346e;
}

.header {
  position: relative;
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 4;
}

.header-logo {
  width: 200px;
  height: 55px;
  cursor: pointer;
}

.header-logo__img {
  width: 100%;
  height: 100%;
}

.header-info {
  width: 250px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-info a {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #104782;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.header-info a:hover {
  color: #08223e;
}

.header-form {
  width: 35%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-form__search {
  width: 95%;
  padding: 10px 30px 10px 15px;
  border: none;
  border-radius: 2px;
  background: #e5e5e5 url("../img/header/search.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 95% center;
}

.call {
  width: 200px;
  height: 100px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.call__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url("../img/header/mobile-phone.svg") center no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.call_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.call__number {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.call__btn {
  font-size: 1.1rem;
  margin-top: 5px;
  text-transform: uppercase;
  color: #113D80;
  cursor: pointer;
}

.call__btn:hover {
  color: #081d3c;
}

.toggles {
  position: relative;
  top: 45px;
  z-index: 3;
}

.toggles .menu-toggle {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100%/4 - 5%);
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  border-radius: 2px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
}

.toggles .menu-toggle__item {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  color: #555555;
  padding: 17px;
  background-color: #F9F9F9;
  border-top: 1px solid #e5e5e5;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.toggles .menu-toggle__item:hover, .toggles .menu-toggle__item.active {
  background-color: #134188;
  color: #ffffff;
}

.menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 4;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.menu .menu-item {
  width: calc(100%/4 - 5%);
  padding: 15px 0;
  text-align: center;
  height: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.menu .menu-item:hover, .menu .menu-item:active, .menu .menu-item:focus {
  color: #104782;
}

.menu-catalog {
  position: relative;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-catalog__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15px;
  height: 15px;
}

.menu-catalog__icon span {
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.menu-catalog__text {
  margin-left: 15px;
}

.menu-catalog__arrow {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  background: url("../img/menu/arrow.svg") center no-repeat;
  background-size: cover;
}

.menu-payment_toggle {
  right: calc(100%/4 + 1.6%);
}

.menu-service_toggle {
  left: calc(100%/4 + 1.6%);
}

.menu-wrapper {
  position: relative;
  top: 35px;
}

.menu-wrapper .mobile-menu_wrapper {
  position: absolute;
  width: 100%;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9F9F9;
  border-radius: 2px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 3;
}

.menu-wrapper .mobile-menu_wrapper .mobile-menu__item {
  font-size: 1.5rem;
  padding: 15px 20px;
  border-top: 1px solid #e5e5e5;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.menu-wrapper .mobile-menu_wrapper .mobile-menu__item.active {
  background-color: #366098;
  color: #ffffff;
}

.menu-wrapper .mobile-menu_wrapper .mobile-menu_toggle {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-wrapper .mobile-menu_wrapper .mobile-menu_toggle__item {
  padding: 15px;
  padding-left: 30px;
  font-size: 1.4rem;
  border-top: 1px solid #e5e5e5;
}

.menu-wrapper .mobile-menu_wrapper .mobile-menu_toggle__item.active, .menu-wrapper .mobile-menu_wrapper .mobile-menu_toggle__item:hover {
  background-color: #366098;
  color: #ffffff;
}

.mobile-menu {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: #135399;
  z-index: 3;
}

.mobile-menu_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: #e0e7ea;
}

.mobile-menu_form__search {
  width: 80%;
  padding: 10px;
  border: none;
}

.mobile-menu_form__findBtn {
  width: 20%;
  padding: 8px 0;
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
  background-color: #135399;
}

.mobile-menu_interface {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.mobile-menu_interface__text {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.mobile-menu_interface_toggleIcon {
  width: 20px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-menu_interface_toggleIcon span {
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.main {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  overflow: hidden;
  border-bottom: 1px solid #eaebec;
}

.main .catalog {
  position: absolute;
  top: 0;
  width: calc(100%/4 - 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
}

.main .catalog__item {
  position: relative;
  padding: 15px;
  font-size: 1.3rem;
  color: #555555;
  background-color: #f9f9f9;
  border: 1px solid #eaebec;
  border-top: none;
}

.main .catalog__item::before {
  height: 0;
}

.main .catalog__item:hover {
  color: #0f346e;
}

.main .catalog__item-hover {
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
  background-color: #f9f9f9;
  width: 250%;
  height: 150px;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
}

.main .catalog__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.main .catalog__item-list:nth-child(2) img {
  width: 40px;
  height: 40px;
}

.main .catalog__item-image {
  width: 35px;
  height: 50px;
}

.main .catalog__item-info {
  width: calc( 100% - 35px);
  margin-top: 10px;
  margin-left: 30px;
}

.main .catalog__item-info a:hover {
  color: #030a14;
}

.main .catalog__item-info__header {
  font-size: 1.4rem;
  color: #0f346e;
}

.main .catalog__item-info__link {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.main .catalog__item-info ul {
  width: 90%;
  margin-top: 15px;
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .catalog__item-info ul li {
  margin-bottom: 5px;
  margin-left: 10px;
  list-style: square inside;
}

.main .catalog__item-info ul li:nth-child(4) a {
  color: #0f346e;
}

.main .boilers-hover {
  top: 0;
}

.main .parts-hover {
  top: 45px;
}

.main .first-section {
  position: relative;
  left: calc( 100%/4 - 5%);
  width: calc(100% - calc(100%/4 - 5%));
  padding: 20px;
  padding-right: 0;
  background-color: #fff;
}

.hover.catalog__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #0f346e;
}

.top_slider-wrapper {
  position: relative;
  width: 100%;
  height: 327px;
  border: 1px solid #000000;
  border-bottom: 3px solid #0f346e;
  border-radius: 1px;
}

.top_slider-wrapper .slides {
  display: block;
  width: 100%;
  height: 322px;
}

.top_slider-wrapper .slider_control-nav {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_slider-wrapper .slider_control-nav li {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000000;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.top_slider-wrapper .slider_control-nav li.active, .top_slider-wrapper .slider_control-nav li:hover {
  background-color: #000000;
}

.top_slider-wrapper .slider_nav-btns {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 45px;
  padding: 0 15px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_slider-wrapper .slider_nav-btns li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.top_slider-wrapper .slider_nav-btns .slider_nav-prev {
  background: #fff url("../img/slider/prev-black.svg") 6px no-repeat;
  background-size: 25px 25px;
}

.top_slider-wrapper .slider_nav-btns .slider_nav-prev:hover {
  background: #0f346e url("../img/slider/prev-white.svg") 6px no-repeat;
  background-size: 25px 25px;
}

.top_slider-wrapper .slider_nav-btns .slider_nav-next {
  background: #fff url("../img/slider/next-black.svg") 10px no-repeat;
  background-size: 25px 25px;
}

.top_slider-wrapper .slider_nav-btns .slider_nav-next:hover {
  background: #0f346e url("../img/slider/next-white.svg") 10px no-repeat;
  background-size: 25px 25px;
}

.tizers-block {
  margin-top: 15px;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tizers-block .tizer {
  width: calc(100%/4 - 4%);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tizers-block .tizer img {
  width: 25%;
  margin-right: 15px;
}

.tizers-block .tizer span {
  font-size: 1.4rem;
  color: #555555;
}

.types-block {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.types-block .good-type {
  position: relative;
  width: 50%;
  height: 300px;
  margin: 0 2px;
  background: url("../img/slider/1.png") center no-repeat;
  background-size: 100%;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: background-size .1s linear;
  transition: background-size .1s linear;
  border-radius: 2px;
}

.types-block .good-type .bg--black {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.types-block .good-type .bg--black.visuallyHidden {
  opacity: 0;
}

.types-block .good-type__name {
  position: absolute;
  top: 80%;
  left: 20px;
  font-size: 2rem;
  padding: 3px 5px;
  background-color: #0f346e;
  color: #ffffff;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.types-block .good-type__desc {
  display: none;
  position: absolute;
  top: 85%;
  left: 20px;
  font-size: 1.4rem;
  color: #ffffff;
}

.pathname, .pathname a {
  color: #b6b5b5;
  font-size: 1.2rem;
}

.pathname a:hover {
  color: #0f346e;
}

.pathname_service__link {
  margin: 0 5px;
}

.pathname_main__link {
  margin-right: 5px;
}

.pathname__text {
  margin-left: 5px;
}

.service__header {
  margin: 20px 0 30px;
  font-size: 3rem;
  color: #383838;
}

.service__text {
  font-size: 1.4rem;
}

.service-first_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-first_section .service__header--l {
  font-size: 1.8rem;
  color: #383838;
  margin: 20px 0;
}

.service-first_section .service-info {
  width: 73%;
}

.service-first_section .service__text {
  line-height: 1.5;
  margin: 20px 0;
}

.service-first_section .service_list {
  padding-left: 15px;
}

.service-first_section .service_list, .service-first_section .service_list li {
  list-style-type: disc;
  line-height: 2;
}

.service-first_section .service_list .service__text, .service-first_section .service_list li .service__text {
  margin: 0;
}

.service-first_section .service_list--d, .service-first_section .service_list--d li {
  list-style-type: decimal;
}

.service-first_section .order, .service-first_section .order_flex {
  width: 230px;
  height: 278px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service-first_section .order-block, .service-first_section .order_flex-block {
  height: 90px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.6rem;
}

.service-first_section .order-block:nth-child(2), .service-first_section .order_flex-block:nth-child(2) {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.service-first_section .order__btn, .service-first_section .order_flex__btn {
  font-size: 1.6rem;
  border: none;
  background-color: #0f346e;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.service-first_section .order__btn:hover, .service-first_section .order_flex__btn:hover {
  background-color: #0c2958;
}

.service-first_section .order_flex {
  margin-top: 30px;
  width: 60%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.service-first_section .order_flex__btn {
  font-size: 1.4rem;
}

.service-first_section .order_flex-block {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 1.5rem;
}

.service-first_section .order_flex-block:nth-child(2) {
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.boilers__header {
  margin: 20px 0 30px;
  font-size: 3.8rem;
  color: #383838;
}

.boilers_links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boilers_links__item {
  width: 49%;
  height: 100px;
  padding: 15px;
  font-size: 1.8rem;
  color: #0f346e;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.boilers_links__item:hover {
  color: #091f41;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.boilers_goods {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boilers_goods .good {
  margin: 5px 0;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  cursor: pointer;
}

.boilers_goods .good:hover, .boilers_goods .good:active, .boilers_goods .good:focus {
  -webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.58);
}

.boilers_goods .good .img_toGood {
  width: 25%;
  padding: 20px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boilers_goods .good__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.boilers_goods .good-info {
  width: 50%;
  padding: 15px;
}

.boilers_goods .good-info .good__name {
  font-size: 1.8rem;
  color: #0f346e;
  font-weight: 700;
}

.boilers_goods .good-info .good__name:hover {
  color: #06142b;
}

.boilers_goods .good-info .good__feature-small {
  font-size: 1.5rem;
}

.boilers_goods .good-info .good_features {
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.boilers_goods .good-info .good_features.active {
  margin-top: 10px;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.boilers_goods .good-info .good_features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
}

.boilers_goods .good-info .feature_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.boilers_goods .good-info .feature_header:hover {
  color: #0f346e;
}

.boilers_goods .good-info .feature_header.active .feature_header__icon {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.boilers_goods .good-info .feature_header__text {
  font-size: 1.3rem;
  margin-right: 10px;
}

.boilers_goods .good-info .feature_header__icon {
  width: 10px;
  height: 10px;
  background: url("../img/menu/arrow.svg") center no-repeat;
  background-size: contain;
}

.boilers_goods .good-toBasket {
  width: 25%;
  padding: 15px;
}

.boilers_goods .good-toBasket .good__price {
  font-size: 2rem;
  font-weight: 700;
  color: #383838;
}

.boilers_goods .good-toBasket_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.boilers_goods .good-toBasket__btn {
  margin-top: 10px;
  font-size: 1.6rem;
  padding: 10px 30px;
  border: none;
  color: #ffffff;
  background-color: #0f346e;
  border-radius: 2px;
  cursor: pointer;
}

.boilers_goods .good-toBasket__btn:hover {
  background-color: #091f41;
}

.boilers_goods .good-toBasket .count-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boilers_goods .good-toBasket .count-cell button {
  width: 45px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #eaebec;
  color: #5a5a5a;
  cursor: pointer;
}

.boilers_goods .good-toBasket .count-cell button:hover, .boilers_goods .good-toBasket .count-cell button:active {
  color: #000000;
}

.boilers_goods .good-toBasket .count-cell button.cell-minus {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.boilers_goods .good-toBasket .count-cell button.cell-plus {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.boilers_goods .good-toBasket .count-cell span {
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eaebec;
  border-bottom: 1px solid #eaebec;
  font-size: 1.3rem;
  background-color: #f7f7f7;
}

.boilers_goods .good-status {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boilers_goods .good-status__indicator {
  width: 13px;
  height: 13px;
  background: url("../img/popular/check-none.svg") center no-repeat;
  background-size: contain;
}

.boilers_goods .good-status__indicator.active {
  background-image: url("../img/popular/check-active.svg");
}

.boilers_goods .good-status__text {
  font-size: 1.4rem;
  margin-left: 5px;
  color: #888888;
}

.boilers_goods .good_toFavorite {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.boilers_goods .good__toF_text {
  font-size: 1.4rem;
  margin-left: 15px;
}

.boilers_goods .good__toF {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boilers_goods .good__toF.active {
  background-color: #0f346e;
}

.boilers_goods .good__toF.active .good__toF-icon {
  background-image: url("../img/popular/favorite-active.svg");
}

.boilers_goods .good__toF-icon {
  width: 70%;
  height: 70%;
  background: url("../img/popular/favorite.svg") center no-repeat;
  background-size: contain;
}

.boilers_goods .good_toFavorite:hover .good__toF {
  background-color: #e5e5e5;
}

.boilers_goods .good_toFavorite:hover .good__toF-icon {
  background-image: url("../img/popular/favorite.svg");
}

@media screen and (max-width: 993px) {
  .container {
    padding: 0 25px;
  }
  .header {
    height: 120px;
  }
  .header-logo {
    width: 190px;
    height: 50px;
  }
  .header-info {
    display: none;
  }
  .header-form {
    width: 55%;
  }
  .header-form__search {
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .first-section .tizers-block .tizer {
    width: calc( 100%/2);
  }
  .first-section .tizers-block .tizer img {
    width: 12%;
  }
}

@media screen and (max-width: 951px) {
  html {
    font-size: 9px;
  }
  .main .catalog {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  .main .catalog__item-hover {
    width: 350%;
  }
  .main .catalog .main .catalog {
    width: calc(100%/4);
  }
  .main .catalog .menu-item {
    width: calc(100%/4);
  }
  .main .catalog .toggles .menu-toggle {
    width: calc(100%/4);
  }
  .main .catalog .toggles .menu-service_toggle {
    left: calc(100%/4);
  }
  .main .catalog .toggles .menu-payment_toggle {
    right: calc(100%/4);
  }
  .main .first-section {
    left: 0;
    width: 100%;
    padding: 20px 0;
  }
}

@media screen and (max-width: 769px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: none;
  }
  .toggles {
    display: none;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 110px;
  }
  .header-logo {
    width: 200px;
    height: 55px;
  }
  .header-form {
    display: none;
  }
  .menu-wrapper .mobile-menu_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-section .slider_nav-btns {
    display: none;
  }
  .first-section .slider_nav-btns li {
    cursor: default;
    outline: none;
  }
  .first-section .tizers-block .tizer img {
    width: 15%;
  }
  .first-section .types-block .good-type {
    height: 250px;
  }
  .first-section .types-block .good-type .bg--black {
    display: block;
  }
  .first-section .types-block .good-type .bg--black.visuallyHidden {
    opacity: 1.0;
  }
  .first-section .types-block .good-type__name {
    top: 72%;
  }
  .first-section .types-block .good-type__desc {
    display: block;
  }
  .pathname {
    display: none;
  }
  .service__header {
    margin-top: 0;
    text-align: center;
  }
  .service-first_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service-first_section .order {
    width: 50%;
    margin: 0 auto 20px;
  }
  .service-first_section .order_flex {
    margin: 20px auto;
  }
  .service-first_section .service__header--l {
    text-align: center;
  }
  .service-first_section .service-info {
    width: 100%;
  }
  .boilers_goods .good .count-cell button, .boilers_goods .good .count-cell span {
    width: 30px;
    height: 30px;
  }
  .boilers_goods .good-toBasket__btn {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 9px;
  }
  .container {
    padding: 0 5px;
  }
  .service-first_section .order, .service-first_section .order_flex {
    width: 80%;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
  }
  .header-logo {
    width: 190px;
    height: 50px;
  }
  .header-call {
    width: 45%;
    height: 80px;
    margin: 0;
  }
  .header-call__icon {
    width: 25px;
    height: 25px;
    margin-top: -2px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .header-call__number {
    font-size: 1.8rem;
  }
  .header-call__btn {
    display: none;
  }
  .boilers__header {
    font-size: 3rem;
    text-align: center;
  }
  .boilers_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boilers_links__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .mobile-menu_form__search {
    width: 70%;
  }
  .mobile-menu_form__findBtn {
    width: 30%;
  }
  .first-section .tizers-block .tizer img {
    width: 20%;
  }
  .boilers_goods .good {
    width: 80%;
    margin: 5px auto;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boilers_goods .good .img_toGood {
    width: 50%;
  }
  .boilers_goods .good-info {
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .boilers_goods .good-info .good__feature-small, .boilers_goods .good-info .good_features, .boilers_goods .good-info .feature_header {
    display: none;
  }
  .boilers_goods .good-info .good-status {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boilers_goods .good-info .good-status__indicator {
    width: 15px;
    height: 15px;
  }
  .boilers_goods .good-info .good-status__text {
    font-size: 1.6rem;
  }
  .boilers_goods .good-info .good_toFavorite {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boilers_goods .good-info .good_toFavorite .good__toF_text {
    font-size: 1.6rem;
  }
  .boilers_goods .good-toBasket {
    margin-top: 15px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .boilers_goods .good-toBasket_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boilers_goods .good-toBasket_block .count-cell {
    margin: 0;
  }
  .boilers_goods .good-toBasket_block .count-cell button {
    width: 45px;
    height: 40px;
  }
  .boilers_goods .good-toBasket_block .count-cell span {
    width: 45px;
    height: 40px;
  }
  .boilers_goods .good-toBasket__btn {
    margin-top: 15px;
    font-size: 1.8rem;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 401px) {
  .header-logo {
    width: 170px;
    height: 45px;
  }
  .service-first_section {
    padding: 0 10px;
  }
  .service-first_section .order, .service-first_section .order_flex {
    width: 100%;
  }
  .call {
    width: 50%;
  }
  .call__icon {
    display: none;
  }
  .call__number {
    font-size: 1.8rem;
  }
  .first-section .popular-block .good {
    width: 100%;
    margin: 5px;
  }
  .first-section .tizers-block {
    padding: 0;
  }
  .first-section .tizers-block .tizer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 45%;
    margin: 15px 5px;
    height: 100%;
  }
  .first-section .tizers-block .tizer img {
    margin: 0;
    margin-bottom: 15px;
    width: 35%;
  }
  .boilers_links__item {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boilers_goods .good {
    width: 100%;
  }
  .boilers_goods .good__name {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=first.css.map */