.popular-block {
  margin-top: 30px;
  width: 100%;
}

.popular-block__text {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #0f346e;
}

.popular-block__text:hover {
  color: #0f346e;
}

.popular-block .popular-goods {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-block .popular-goods .good {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%/4 - 1.2%);
  height: 100%;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #eaebec;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.popular-block .popular-goods .good:hover, .popular-block .popular-goods .good:active, .popular-block .popular-goods .good:focus {
  -webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.58);
  outline: none !important;
}

.popular-block .popular-goods .good:hover .good__toF, .popular-block .popular-goods .good:hover .good__toF-icon, .popular-block .popular-goods .good:active .good__toF, .popular-block .popular-goods .good:active .good__toF-icon, .popular-block .popular-goods .good:focus .good__toF, .popular-block .popular-goods .good:focus .good__toF-icon {
  display: block;
}

.popular-block .popular-goods .good__img {
  width: 75%;
  height: 170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.popular-block .popular-goods .good__name {
  margin-top: 15px;
  height: 60px;
  font-size: 1.8rem;
  text-align: center;
  color: #0f346e;
}

.popular-block .popular-goods .good__name:hover {
  color: #06142b;
}

.popular-block .popular-goods .good-status {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-block .popular-goods .good-status__indicator {
  width: 15px;
  height: 15px;
  background: url("../img/popular/check-none.svg") center no-repeat;
  background-size: contain;
}

.popular-block .popular-goods .good-status__indicator.active {
  background-image: url("../img/popular/check-active.svg");
}

.popular-block .popular-goods .good-status__text {
  font-size: 1.4rem;
  margin-left: 5px;
  color: #888888;
}

.popular-block .popular-goods .good__price {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 15px;
}

.popular-block .popular-goods .good__more {
  margin-top: 15px;
  font-size: 1.6rem;
  padding: 8px;
  background-color: #375282;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
  cursor: pointer;
}

.popular-block .popular-goods .good__more:hover {
  background-color: #283b5e;
}

.popular-block .popular-goods .good__toF {
  display: none;
  position: absolute;
  top: 5%;
  right: 7%;
  width: 12%;
  height: 6%;
  border-radius: 2px;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-block .popular-goods .good__toF:hover, .popular-block .popular-goods .good__toF.active {
  background-color: #0f346e;
}

.popular-block .popular-goods .good__toF:hover .good__toF-icon, .popular-block .popular-goods .good__toF.active .good__toF-icon {
  display: block;
  background-image: url("../img/popular/favorite-active.svg");
}

.popular-block .popular-goods .good__toF-icon {
  display: none;
  width: 70%;
  height: 70%;
  background: url("../img/popular/favorite.svg") center no-repeat;
  background-size: contain;
}

.footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eaebec;
}

.footer-map {
  width: 40%;
  height: 250px;
  border: 1px solid #eaebec;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info {
  text-align: center;
}

.footer-info__text {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-info_list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-info__item {
  line-height: 2.8rem;
}

.footer-info__link {
  font-size: 1.6rem;
  color: #666666;
}

.footer-info__link:hover {
  color: #0f346e;
}

.footer-address {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-address .call {
  width: 100%;
  height: auto;
  margin: 0;
}

.footer-address .social-media {
  width: 100%;
  margin-top: 40px;
}

.footer-address .social-media__text {
  font-size: 1.6rem;
  color: #666666;
}

.footer-address .social-media_list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-address .social-media__item {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.footer-address .social-media__item:nth-child(1) a {
  background: url("../img/smi/facebook.svg") center no-repeat;
  background-size: contain;
}

.footer-address .social-media__item:nth-child(2) a {
  background: url("../img/smi/instagram.svg") center no-repeat;
  background-size: contain;
}

.footer-address .social-media__item:nth-child(3) a {
  background: url("../img/smi/whatsapp.svg") center no-repeat;
  background-size: contain;
}

.footer-address .social-media__item:nth-child(4) a {
  background: url("../img/smi/google-plus.svg") center no-repeat;
  background-size: contain;
}

.footer-address .social-media__link {
  display: block;
  width: 100%;
  height: 33px;
}

@media screen and (max-width: 1132px) {
  .first-section .popular-block .good {
    width: calc(100%/3 - 1.5%);
  }
}

@media screen and (max-width: 769px) {
  .first-section .popular-block .good {
    width: calc(100%/2 - 2%);
  }
  .first-section .popular-block .good__toF {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12%;
    height: 8%;
  }
  .first-section .popular-block .good__toF-icon {
    display: block;
  }
  .footer {
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-map {
    width: 80%;
  }
  .footer-info {
    margin: 30px 0;
  }
  .footer-address {
    text-align: center;
    width: 80%;
  }
  .footer-address .call {
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  .first-section .types-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-section .types-block .good-type {
    width: 80%;
    margin: 2px auto;
  }
  .first-section .popular-block .good {
    width: 80%;
    margin: 5px auto;
  }
  .footer-map, .footer-address {
    width: 100%;
  }
}

@media screen and (max-width: 401px) {
  .first-section .types-block .good-type {
    width: 100%;
    margin: 2px 0;
  }
}
/*# sourceMappingURL=style.css.map */