* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1201px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 200px;
  height: 55px;
  cursor: pointer;
}

.header-logo__img {
  width: 100%;
  height: 100%;
}

.header-info {
  width: 250px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-info a {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #104782;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.header-info a:hover {
  color: #08223e;
}

.header-form {
  width: 35%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-form__search {
  width: 95%;
  padding: 10px 30px 10px 15px;
  border-radius: 2px;
  border: none;
  background: #e5e5e5 url("../img/header/search.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 95% center;
}

.header-call {
  width: 200px;
  height: 100px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-call__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url("../img/header/mobile-phone.svg") center no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.header-call_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-call__number {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.header-call__btn {
  font-size: 1.1rem;
  margin-top: 5px;
  text-transform: uppercase;
  color: #113D80;
  cursor: pointer;
}

.header-call__btn:hover {
  color: #081d3c;
}

.menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.menu .menu-item {
  width: calc(100%/4 - 5%);
  padding: 15px 0;
  text-align: center;
  height: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

.menu .menu-item:hover, .menu .menu-item:active, .menu .menu-item:focus {
  color: #104782;
}

.menu-catalog {
  position: relative;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-catalog__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15px;
  height: 15px;
}

.menu-catalog__icon span {
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.menu-catalog__text {
  margin-left: 15px;
}

.menu-catalog__arrow {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  background: url("../img/menu/arrow.svg") center no-repeat;
  background-size: cover;
}

.menu-toggle {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100%/4 - 5%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-radius: 2px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  z-index: -1;
}

.menu-toggle__item {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  color: #555555;
  padding: 17px;
  background-color: #F9F9F9;
  border-top: 1px solid #e5e5e5;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.menu-toggle__item:hover {
  background-color: #134188;
  color: #ffffff;
}

.menu-payment_toggle {
  right: calc(100%/4 + 1.6%);
}

.menu-service_toggle {
  left: calc(100%/4 + 1.6%);
}

.mobile-menu {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: #135399;
}

.mobile-menu_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: #e0e7ea;
}

.mobile-menu_form__search {
  width: 80%;
  padding: 10px;
  border-radius: 1px;
  border: none;
}

.mobile-menu_form__findBtn {
  width: 20%;
  padding: 8px 0;
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
  background-color: #135399;
}

.mobile-menu_interface {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.mobile-menu_interface__text {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.mobile-menu_interface_toggleIcon {
  width: 20px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-menu_interface_toggleIcon span {
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.mobile-menu_wrapper {
  position: absolute;
  width: 100%;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9F9F9;
  border-radius: 2px;
  z-index: -1;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.mobile-menu_wrapper .mobile-menu__item {
  font-size: 1.5rem;
  padding: 15px 20px;
  border-top: 1px solid #e5e5e5;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.mobile-menu_wrapper .mobile-menu__item:active, .mobile-menu_wrapper .mobile-menu__item:focus {
  background-color: #366098;
  color: #ffffff;
}

.mobile-menu_wrapper .mobile-menu_toggle {
  position: absolute;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  padding-left: 30px;
}

.mobile-menu_wrapper .mobile-menu_toggle__item {
  padding: 15px 0;
  font-size: 1.4rem;
  border-top: 1px solid #e5e5e5;
}

.mobile-menu_wrapper .mobile-menu_toggle__item:active, .mobile-menu_wrapper .mobile-menu_toggle__item:focus {
  background-color: #366098;
  color: #ffffff;
}

.mobile-menu_wrapper .mobile-menu__catalog_toggle {
  top: 48px;
}

.mobile-menu_wrapper .mobile-menu__service_toggle {
  top: 98px;
}

.mobile-menu_wrapper .mobile-menu__payment_toggle {
  top: 146px;
}

@media screen and (max-width: 993px) {
  .container {
    padding: 0 25px;
  }
  .header {
    height: 120px;
  }
  .header-logo {
    width: 190px;
    height: 50px;
  }
  .header-info {
    display: none;
  }
  .header-form {
    width: 55%;
  }
  .header-form__search {
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 769px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: none;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 110px;
  }
  .header-logo {
    width: 200px;
    height: 55px;
  }
  .header-form {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 9px;
  }
  .container {
    padding: 0 5px;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
  }
  .header-logo {
    width: 210px;
    height: 55px;
  }
  .header-call {
    width: 185px;
    height: 80px;
    margin: 0;
  }
  .header-call__icon {
    width: 25px;
    height: 25px;
    margin-top: -2px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .header-call__number {
    font-size: 1.8rem;
  }
  .header-call__btn {
    display: none;
  }
  .mobile-menu_form__search {
    width: 70%;
  }
  .mobile-menu_form__findBtn {
    width: 30%;
  }
}

@media screen and (max-width: 401px) {
  .header-logo {
    width: 170px;
    height: 45px;
  }
  .header-call__icon {
    display: none;
  }
  .header-call__number {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */